---
permalink: /feed.xml
eleventyExcludeFromCollections: true
ytEmbed: link
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	<link href="{{ metadata.feed.url | absoluteUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.articles | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.url }}</id>
	{%- for post in collections.article | reverse %}
	{# maybe I can use this later to limit by issue #}
	{% if loop.index0 < 25 %}
	{% set currentissue %}{{ post.data.volume }}.{{ post.data.issue }}{% endset %}	
		{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
		<entry>
			<title>{{ post.data.title | striptags }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<updated>{{ post.date | rssDate }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<author><name>{{ post.data.author }}</name></author>
			<content type="html">
				{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
				&lt;p&gt;&lt;a href="{{ absolutePostUrl }}"&gt;This article originally appeared at {{ metadata.citationurl }}.&lt;/a&gt;&lt;/p&gt;
			</content>
		</entry>
	{% endif %}
	{%- endfor %}
</feed>