<style>
    .root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: {{ color }};
        color: {{ imageTextColor }};
        {# warning: this must be an absolute URL #}
        background-image: url("{{ image }}");
    }
    .title {
        font-size: {{ 2000 / title.length }}px;
    }
    .author {
        font-size: 100px;
    }
    .tagline {
        font-size: {% if 2000 / title.length > 100  %}50px{% else %}{{ 2000 / title.length }}{% endif %}
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto 0;
        color: {{ imageTextColor }};
    }
    .container * {
        margin: 0;
        color: {{ imageTextColor }}
    }

</style>
<div class="root">
    <div class="container">
        <h1 class="title">{{ title | safe }}</h1>
        <p class="author">
            {{ author | safe }}
        </p>
        <p class="tagline">
            {% if issue and volume %}Westmarch vol. {{ volume }}, no. {{ issue }}{% endif %}
        </p>
        <p class="description">{{ description | safe }}</p>
    </div>
</div>