$eb-garamond-size-adjust: 108.5%;
$cormorant-garamond-size-adjust: 115%;

@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/ebgaramond-normal.woff2') format('woff2');
    font-style: 400 800;
    font-style: normal;
    font-display: optional;
    size-adjust: $eb-garamond-size-adjust;
    unicode-range: U+0020-007F;
  }
  
  @font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/ebgaramond-normal-special-characters.woff2') format('woff2');
    font-style: 400 800;
    font-style: normal;
    font-display: optional;
    size-adjust: $eb-garamond-size-adjust;
    unicode-range: U+2116,U+17F;
  }
  
  @font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/ebgaramond-italic.woff2') format('woff2');
    font-style: 400 800;
    font-style: italic;
    font-display: optional;
    size-adjust: $eb-garamond-size-adjust;
    unicode-range: U+0020-007F;
  }
  
  @font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/ebgaramond-italic-special-characters.woff2') format('woff2');
    font-style: 400 800;
    font-style: italic;
    font-display: optional;
    size-adjust: $eb-garamond-size-adjust;
    unicode-range: U+2116,U+17F;
  }
