@use "variables" as *;
$max-width: 50rem;
$border-width: calc(100vh - #{$max-width - + 20rem});
$text-size: 1rem;
$header-height: 3rem;
* {
    box-sizing: border-box;
}
.header nav, main {
    width: auto;
    margin: 0 auto;
    max-width: $max-width;
}
main {
    min-height: calc(100vh - #{2*$header-height});
    padding: 1rem;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
}

.body {
    border-color: $theme-color;
    border-width: 0 $border-width;
    border-style: solid;
    margin: 0;
    background-color: $background-color;
}

.header, footer {
    min-height: $header-height;
    background-color: $header-color;
    color: $color-light;
    padding: ($border-width - $text-size)/2;
}