@use "variables" as *;
$padding: 5rem;
$max-width: 50rem + $padding;
$border-width: max(1.5rem, calc(50vw - #{$max-width/2}));
$text-size: 1rem;
$header-height: 3rem;
* {
    box-sizing: border-box;
}
.header nav, main {
    width: auto;
    margin: 0 auto;
    max-width: $max-width;
}
main {
    min-height: calc(100vh - #{2*$header-height});
    padding: $padding;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
}

.body {
    border-color: $theme-color;
    border-width: 0 $border-width;
    border-style: solid;
    margin: 0;
    background-color: $background-color;
}

.header, footer {
    min-height: $header-height;
    background-color: $header-color;
    color: $color-light;
    padding: ($header-height - $text-size)/2;
}

.editor-list {
    dt, dd {
        display:inline;
        margin: 0
    }
    dt::after {
        content: ": "
    }
    dd::after {
        content: " ❧ "
    }
    dd:last-child::after {
        content: none;
        }
}