@use "variables" as *;
@use "layout" as *;
$body-text: Georgia, serif;

* {
    font-family: $body-text;
    color: $text-color;
    line-height: 1;
}

main * {
    line-height: 2;
}

a {
    color: inherit;
}

i {
    text-decoration: inherit;
}

.header, footer {
    --text-color: var(--color-light);
}

blockquote {
    margin: 0 $padding;
    quotes: "\201C""\201D""\2018""\2019";
  }

  h1, h2, h3 {
    line-height: 1.1;
    font-weight: normal;
  }