$theme-color: var(--theme-color);
$color-light: var(--color-light);
$color-dark: var(--color-dark);
$text-color: var(--text-color);
$background-color: var(--background-color);
$header-color: #3b3b3b;

:root {
    --theme-color: #f0ece6;
    --color-light: #f0ece6;
    --color-dark: #160e00;
    --text-color: var(--color-dark);
    --background-color: var(--color-light);
}

@media print {
    :root {
     --theme-color: white !important;
     --color-light: white;
     --color-dark: black;
    }
    .print-hide {
        display: none;
    }
}
// @media (prefers-color-scheme: dark) {
//     :root {
//         --text-color: var(--color-light);
//         --background-color: var(--color-dark);
//     }
// }