// brand colors
$light-brown: #d5cabf;
$dark-brown: #baa999;
$light-beige: #f1dbca;
$dark-beige: #d9cfb1;
$off-white: #f4f4f2;
$light-grey: #cbcbc7;
$dark-grey: #8e8d89;
$dark-red: #efa6a1;
$light-red: #ffc7c3;
$off-yellow: #e8c989;

$dropcap: #590606;

// CSS variables allow using inheritance to change colors for different pages. 
$theme-color: var(--theme-color);
$color-light: var(--color-light);
$color-dark: var(--color-dark);
$text-color: var(--text-color);
$background-color: var(--background-color);
$header-color: var(--color-dark);

:root {
    --theme-color: #eecfac;
    --color-light: #eecfac;
    --color-dark: #261400;
    --text-color: var(--color-dark);
    --background-color: var(--color-light);
    --dropcap-color: #{$dropcap};
}

// to make it print nicely
@media print {
    :root {
     --theme-color: white !important;
     --color-light: white;
     --color-dark: black;
    }
}

// for dark mode--Elyse preferred not to use it. 
// @media (prefers-color-scheme: dark) {
//     :root {
//         --text-color: var(--color-light);
//         --background-color: var(--color-dark);
//     }
// }