.header, footer {
    ol, ul {
        margin: 0 auto;
        li {
            display: inline-block;
            &::after {
                content: " â§ ";
            }
            &:last-child::after {
            content: none;
            }
        }
    }
}