.header, footer {
    ol, ul {
        margin: 0 auto;
        * {
            display: inline-block;
            &::after {
                content: " â§ ";
            }
        &:last-child::after {
            content: none;
            }
        }
    }
}