<details class="citation">
    <summary>Cite this page</summary>
    <p><a href="{{ page.url }}citation.ris">Download RIS for citation generator.</a></p>
        {% set data  = {
            "authors":  [
                {
                    "name": name,
                    "surname": surname,
                    "author": author
                }
            ],
            "date": page.date,
            "title": title,
            "journaltitle": metadata.title | title,
            "volume": volume,
            "issue": issue,
            "url": metadata.citationurl + page.url | url
        }
        %}
    <details><summary>Turabian Note</summary>
        <p>{% citation "turabian-note", data %}</p>
    </details>
    <details><summary>Turabian Bibliography</summary>
        <p>{% citation "turabian-bib", data %}</p>
    </details>
    <details><summary>MLA</summary>
        <p>{% citation "mla", data %}</p>
    </details>
    <details><summary>APA</summary>
        <p>{% citation "apa", data %}</p>
    </details>
</details>