<footer>
    <ul>
        <li class="print-hide"><a href="/feed.xml">Feed</a></li>
        <li class="print-hide"><a href="/staff/">Editorial Staff</a></li>
        <li class="print-hide"><a href="/colophon/">Colophon</a></li>
        <li class="print-hide"><a href="/submissions/">Submissions</a></li>
        <li class="print-hide"><a href="/donate/">Support <em>Westmarch</em></a></li>
        <li>Copyright {{ page.date | year }} {% if author %}{{ author }} and {% endif %}{{ metadata.title }}.</li>
    </ul>
    <ul class="screen-hide"><li>{{ metadata.citationurl }}{{ page.url | url }}</ul>
</footer>