<footer>
    <ol>
        <li><a href="/feed.xml">Feed</a></li>
        <li><a href="/staff/">Editorial Staff</a></li>
        <li><a href="/colophon/">Colophon</a></li>
        <li>Copyright {{ page.date | year }} {% if author %}{{ author }} and {% endif %}{{ metadata.title }}.</li>
    </ol>
</footer>