    <meta charset="utf-8">
    <title>
            {{  pageTitle or title | striptags }}
    </title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.feed.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/main.css">

<meta name="msvalidate.01" content="{{ metadata.msvalidate01 }}" >
<meta name="theme-color" content="{{ issue.color or color or metadata.color }}">
<style>:root {--theme-color: {{ issue.color or color or metadata.color }}}</style>
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
<meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}">

{% if card %}
    <meta property="og:image" content="{{ card | url |absoluteUrl(metadata.url) }}">
{% else %}
    {% setAsync "ogOutputUrl" -%}
        {% ogImage "./og-image.og.njk", 
            { title: title, 
            author: author, 
            description: description, 
            issue: issue, 
            volume: volume, 
            color: color or metadata.color,
            imageTextColor: imageTextColor,
            image: image or metadata.image
            } 
        %}
    {%- endsetAsync %}
    <meta property="og:image" content="{{ ogOutputUrl | url | absoluteUrl(metadata.url) }}">
{% endif %}
<meta property="og:type" content="website" >
<link rel="canonical" href="{{ page.url | url | absoluteUrl(metadata.url) }}" >
<meta name="keywords" content="{{ metadata.keywords + "," + tags }}">
<meta name="author" content="{{ author or metadata.author.name }}">

{# see https://scholar.google.com/intl/en/scholar/inclusion.html#indexing #}

<meta name="citation_title" content="{{ title }}">
<meta name="citation_author" content="{{ citationAuthor or metadata.author.name }}">
<meta name="citation_publication_date" content="{{ page.date | year }}">
<meta name="citation_journal_title" content="{{ metadata.title | title}}">
<meta name="citation_volume" content="{{ volume }}">
<meta name="citation_issue" content="{{ issue }}">


<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="{{ issue.color or metadata.color }}">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="{{ issue.color or metadata.color }}">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="{{ issue.color or color or metadata.color }}">



<link rel="manifest" href="/site.webmanifest">
<meta name="generator" content="Eleventy">