---js
{
  pagination: {
    data: function(){
        const fs = require("fs")
        let authors = JSON.parse(fs.readFileSync("_data/authors.json"))
        console.log(authors)
        let postAuthors = collections.all.map(post => post.author).filter(author => !authors.find(a2 => a2.name == author))
        console.log(postAuthors)
        let postAuthorArray = []
        for (let a of postAuthors) {
            authordata = { "name": a }
            postAuthorArray.push(authordata)
        }
        authors = authors.concat(postAuthorArray)
        console.log(authors)
        return authors
    },
    alias: "authordata",
    size: 1
  },
  layout: "base",
  tags: "author",
  eleventyComputed": {
    title: authordata.name,
    author: authordata.name"
  },
  "permalink": "authors/{{ authordata.name | slugify }}/"
}
---
<h1>{{ authordata.name }}</h1>
<p>{{ authordata.bio }}</p>

{% set postlist = collections["article"] %}
<ul reversed class="postlist">
{% for post in postlist | reverse %}
    {% if post.author == authordata.name %}
        <li class="postlist__item">
            <a href="{{ post.url | url }}" class="postlist__item__link">
                {% if post.data.title %}
                    {{ post.data.title | safe }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endfor %}
</ul>
