---
title: Authors
permalink: "/authors/"
layout: base
eleventyImport:
  collections: ["author"]
---
<h1>Authors</h1>
{% set postlist = collections["author"] | sort( reverse, false, data.articlenumber ) %}
<ul reversed class="postlist">
{% for post in postlist | reverse %}
        <li class="postlist__item">
            <a href="{{ post.url | url }}" class="postlist__item__link">
                {% if post.data.title %}
                    {{ post.data.title | safe }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
                {% set number = post.data.articlenumber %}
                &nbsp;({{ number }} article{% if number != 1 %}s{% endif %})
            </a>
        </li>
{% endfor %}
</ul>
