---
title: Authors
permalink: "/authors/"
layout: base
---
<h1>Authors</h1>
{% set postlist = collections["author"]  | sortAuthorsByArticleNumber %}
<ul reversed class="postlist">
{% for post in postlist | reverse %}
        <li class="postlist__item">
            <a href="{{ post.url | url }}" class="postlist__item__link">
                    {{ post.data.title | safe }}
                {% set number = post.data.articlenumber %}
                &nbsp;({{ number }} article{% if number != 1 %}s{% endif %})
            </a>
        </li>
{% endfor %}
</ul>
