---
title: Westmarch
layout: base
permalink: "/"
card: "/assets/images/og-image-3.png"
---
<h1 class="westmarch-header">Westmarch</h1>
<p class="subtitle no-dropcap" style="color: var(--dropcap-color)">A Literary Journal</p>
{% set issues = fetchIssues  %}
{% for issue in issues | reverse %}
    <article>
        <h2><a href="/{{ issue.volume }}/{{ issue.issue }}/">
            vol. {{ issue.volume }}, no. {{ issue.issue }}: {{ issue.issueTitle }}</a></h2>
    </article>
{% endfor %}
