---
pagination:
  data: fetchIssues
  alias: issue
  size: 1
layout: base
tags: issue
renderData:
  title: "Westmarch vol. {{ issue.volume }}, no. {{ fetchIssues.issue }}: {{ issueTitle }}"
permalink: /hi/
---
<h1>Westmarch vol. {{ volume }}, no. {{ issue }}: {{ issueTitle }}</h1>
{{ issue | dump}}
