---
pagination:
  data: fetchIssues
  alias: issue
  size: 1
layout: base
tags: issue
title: "Westmarch vol. {{ issue.volume }}, no. {{ issue.issue }}: {{ issue.issueTitle }}"
permalink: "/{{ issue.volume }}/{{ issue.issue }}/"
---
<h1>Westmarch vol. {{ issue.volume }}, no. {{ issue.issue }}: {{ issue.issueTitle }}</h1>
{% for category in issue.articleCategories %}
  <h2>{{ category | capitalize }}</h2>
  {% set postslist = collections[ category ] %}
  {% include "components/postslist.njk" %}
{% endfor %}
<p>{{ issue.quote | safe }}</p>
