---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: base
renderData:
  title: Tagged “{{ tag }}”
permalink: /{{ tag | slugify }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "components/postlist.njk" %}

{# We need to decide whether we want tags in a capacity more than just types of articles... 
Currently there is no /tags/ page
<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p> #}
