---
layout: base
eleventyComputed:
    pageTitle: "{{ title | striptags}} | Westmarch vol. {{ volume}}, no. {{ issue }}"
---
<h1>{{ title | safe }}</h1>
<p class="author name">{{ author }}</p>
{% include "components/citation.njk" %}
{{ content | safe}}
{% if authordescription %}
<p class="author description">{{ authordescription }}</p>
{% endif %}