---
layout: base
eleventyComputed:
    pageTitle: "{{ title }} | Westmarch vol. {{ volume}}, no. {{ issue }}"
---
<h1>{{ title | safe }}</h1>
{% include "components/citation.njk" %}
{{ content | safe}}