<!doctype html>
<html lang="en">
    <head>
        {% include "components/metadata.njk" %}
    </head>
    <body>
        {% include "components/header.njk" %}
        <div class="body">
        <main>
            {{ content | safe }}
        </main>
        </div>
        {% include "components/footer.njk" %}
        </body>
</html>