<!doctype html>
<html lang="en">
    <head>
        {% include "components/metadata.njk" %}
    </head>
    <body>
        {% include "components/header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "components/footer.njk" %}
    </body>
</html>