---
eleventyComputed:
    author: "{% if name and surname %}{{ name }} {{ surname }}{% else %}{{ author }}{% endif %}"
    citationAuthor: "{% if name and surname %}{{ surname }}, {{ name }}{% else %}{{ author }}{% endif %}"
---
<!doctype html>
<html lang="en">
    <head>
        {% include "components/metadata.njk" %}
    </head>
    <body>
        {% include "components/header.njk" %}
        <div class="body">
        <main>
            {{ content | safe }}
        </main>
        </div>
        {% include "components/footer.njk" %}
        </body>
</html>